# Copy this file to `.env` and set your MongoDB connection string
# Example local MongoDB:
MONGO_URI=mongodb://localhost:27017/ChatterUp

# Example MongoDB Atlas connection string:
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/ChatterUp?retryWrites=true&w=majority
